## 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-09-06 14:03:45,-34.5322,20.0403,61.21,53,6,13.24
1,1,Batagay,RU,2022-09-06 14:03:45,67.6333,134.6333,45.45,69,53,6.78
2,2,Codrington,AU,2022-09-06 14:03:45,-38.2667,141.9667,46.06,91,94,10.22
3,3,Gorin,RU,2022-09-06 14:03:46,51.1983,136.6669,52.88,99,100,8.99
4,4,Wonthaggi,AU,2022-09-06 14:03:46,-38.6044,145.5913,50.83,80,100,12.80

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#g_key

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heatmap

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Cloudiness Heatmap

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Wind Speed Heatmap

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## 6.5.3 Get Vacation Criteria

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
# A range between 75 - 90 returned 204 results.
# Lower the upper temp a bit to get less than 200 cities.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 88

In [53]:
# Filter the dataset to find the cities that fit the criteria.
# Call dropna() at the end of the filter to drop null values since we did have one.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Iquitos,PE,2022-09-06 14:03:47,-3.7481,-73.2472,80.64,89,75,4.61
11,11,Dingle,PH,2022-09-06 14:03:47,10.9995,122.6711,75.29,94,100,5.12
16,16,Praya,CV,2022-09-06 14:03:48,14.9215,-23.5087,81.14,89,100,9.22
17,17,Tema,GH,2022-09-06 14:03:48,5.6670,-0.0166,81.90,67,44,11.95
23,23,Hasaki,JP,2022-09-06 14:03:49,35.7333,140.8333,79.29,84,14,14.34
25,25,Cabo San Lucas,MX,2022-09-06 14:03:50,22.8909,-109.9124,85.51,74,100,5.99
27,27,Atuona,PF,2022-09-06 14:03:50,-9.8000,-139.0333,75.83,78,40,17.47
28,28,Hilo,US,2022-09-06 14:03:51,19.7297,-155.0900,77.29,96,75,4.61
29,29,Port-Gentil,GA,2022-09-06 14:03:51,-0.7193,8.7815,77.04,80,70,13.51
33,33,Arraial Do Cabo,BR,2022-09-06 14:03:52,-22.9661,-42.0278,75.06,41,75,11.50

In [54]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

## 6.5.4 Map Vacation Criteria

In [56]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
8           Iquitos      PE     80.64  -3.7481  -73.2472
11           Dingle      PH     75.29  10.9995  122.6711
16            Praya      CV     81.14  14.9215  -23.5087
17             Tema      GH     81.90   5.6670   -0.0166
23           Hasaki      JP     79.29  35.7333  140.8333
25   Cabo San Lucas      MX     85.51  22.8909 -109.9124
27           Atuona      PF     75.83  -9.8000 -139.0333
28             Hilo      US     77.29  19.7297 -155.0900
29      Port-Gentil      GA     77.04  -0.7193    8.7815
33  Arraial Do Cabo      BR     75.06 -22.9661  -42.0278

In [57]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

### Iterate Through hotel_df DataFrame

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [61]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Iquitos,PE,80.64,-3.7481,-73.2472,Cortez Malaga Techy Caroly
11,Dingle,PH,75.29,10.9995,122.6711,SEGAYA PROPERTY
16,Praya,CV,81.14,14.9215,-23.5087,LT Aparthotel
17,Tema,GH,81.90,5.6670,-0.0166,Beulah Royale Hotel Tema
23,Hasaki,JP,79.29,35.7333,140.8333,Inubosaki Kanko Hotel
25,Cabo San Lucas,MX,85.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
27,Atuona,PF,75.83,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
28,Hilo,US,77.29,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Port-Gentil,GA,77.04,-0.7193,8.7815,Fengshui Residence
33,Arraial Do Cabo,BR,75.06,-22.9661,-42.0278,Pousada Porto Praia

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [64]:
# Set up a template for the hotel info format used to display with each marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row using the format above
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))